*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /*margin: 2px 3px 5px 4px;*/
}
#product-overview {
    background: url(bg.jpg) ;
    background-repeat: no-repeat;
    padding: 100px;
    /*border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 10px;*/
    background-size: 100% auto;
}
#product-overview h1{
    color:brown;
    font-family: Roboto;
    font-size: 20px;
}
.section-title {
    color:blue;
    font-family: inherit;
}
 /*h1{
    font-family: serif;
} */

.main-header{
    width: 100%;
    background: rgb(241, 247, 247);
    padding: 5px 20px;
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand{
    color:rgb(7, 150, 143);
    text-decoration: none;
    font-weight: bold;
    
}
.main-nav-items{
    display: inline-block;
    text-align: right;
    width: calc(100% - 99px);
}
.main-navs{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav{
    display: inline-block;
    margin: 0 16px;
}
.main-nav a{
    text-decoration: none;
    color:blue;
    font-weight: bold;
    padding: 3px 0;
}
.main-nav a:hover,
.main-nav a:active {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(240, 245, 245);
}
/*p::first-letter{
    color: red;
    font-size: 25px;
}*/

.main-nav__item--cta a{
    color:rgb(7, 7, 7);
    background-color: rgb(162, 244, 247);
    padding: 4px 16px;
    border-radius: 6px;
    font-size: 14px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color:rgb(14, 222, 250);
    background-color: rgb(247, 254, 255);
}